<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间映射到com.mybatis_demo.mapper.UserDao-->
<mapper namespace="com.java.mynotebookuser.mapper.UserDao">
    <sql id="allFields">
        uid, uname, password, status, tel, createTime
    </sql>

    <select id="getList" resultType="com.java.mynotebookuser.entity.User">
        select
        <include refid="allFields"></include>
        from user
    </select>

    <insert id="addUser" parameterType="com.java.mynotebookuser.entity.User">
        insert into user(`uname`, `password`, `status`, `tel`)
        values (#{uname}, #{password}, #{status}, #{tel})
    </insert>

    <update id="login" parameterType="com.java.mynotebookuser.entity.User">
        select
        <include refid="allFields"></include>
        from user
        where uname = #{uname}
        and password = #{password}
    </update>

    <delete id="delete">
        delete
        from user
        where uid = #{uid}
    </delete>

    <delete id="batchDelete">
        delete
        from user
        where uid in
        <foreach collection="ids" open="(" close=")" separator="," item="uid">
            #{uid}
        </foreach>
    </delete>

    <update id="update">
        update user
        <set>
            createTime=now(),
            <if test="uname!=null and uname!=''">
                uname=#{uname},
            </if>
            <if test="password!=null and password!=''">
                password=#{password},
            </if>
            <if test="status!=null and status!=''">
                status=#{status},
            </if>
            <if test="tel!=null and tel!=''">
            tel=#{tel}
            </if>
        </set>
        where uid=#{uid}
    </update>

</mapper>

